[Desktop Entry]
Encoding=UTF-8
Type=Application
StartupNotify=false
Icon=emblem-enlightenment-logo
Name=Enlightenment Settings
Exec=enlightenment
NoDisplay=true
